 <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-10 col-lg-10 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" action="/sendLogin">
              <div class="form-label-group">
                <input type="text" id="email" class="form-control" placeholder="Email address" name="email">
              </div>

              <div class="form-label-group">
                <input type="password" id="password" class="form-control" placeholder="Password" name="password">
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
              <a href="/Register" class="btn btn-lg btn-success btn-block text-uppercase" role="button" aria-pressed="true">Register</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>